In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
DNAME = "FoodData_Central_csv_2020-04-29/"

In [3]:
food_df = pd.read_csv(DNAME+"food.csv").set_index("fdc_id")

In [4]:
food_df#["data_type"].unique()

,data_type,description,food_category_id,publication_date
fdc_id,,,,
344604,branded_food,Tutturosso Green 14.5oz. NSA Italian Diced Tom...,NaN,2019-04-01
344605,branded_food,Tutturosso Green 14.5oz. Italian Diced Tomatoes,NaN,2019-04-01
344606,branded_food,Honeysuckle White Fresh 97% Ground White Turkey,NaN,2019-04-01
344607,branded_food,Honeysuckle White 97% Ground White Turkey,NaN,2019-04-01
344608,branded_food,Honeysuckle Whtie 85% Ground Turkey,NaN,2019-04-01
...,...,...,...,...
334717,sub_sample_food,"Sugars, Pupusas, Bean, flat stuffed corn biscu...",25.0,2019-04-01
334718,sub_sample_food,"Thiamin, Pupusas, Bean, flat stuffed corn bisc...",25.0,2019-04-01
334719,sub_sample_food,"Vitamin K, Pupusas, Bean, flat stuffed corn bi...",25.0,2019-04-01
334720,foundation_food,"Restaurant, Latino, pupusas con frijoles (pupu...",25.0,2019-04-01
746774,foundation_food,"Restaurant, Chinese, sweet and sour pork",25.0,2019-12-16

In [5]:
branded_food_df = pd.read_csv(DNAME+"branded_food.csv").set_index("fdc_id")
branded_food_df

/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,brand_owner,gtin_upc,ingredients,serving_size,serving_size_unit,household_serving_fulltext,branded_food_category,data_source,modified_date,available_date,market_country,discontinued_date
fdc_id,,,,,,,,,,,,
344604,Red Gold,72940755050,"Tomatoes, Tomato Juice, Less Than 2% Of: Salt,...",123.0,g,1/2 cup,NaN,GDSN,2018-04-06,2018-04-26,United States,NaN
344605,Red Gold,72940755043,"Tomatoes, Tomato Juice, Less Than 2% Of: Salt,...",123.0,g,1/2 cup,NaN,GDSN,2018-04-04,2018-04-26,United States,NaN
344606,Cargill,642205534517,"White Turkey, Natural Flavoring",112.0,g,4 oz.,NaN,GDSN,2016-08-05,2016-06-13,United States,NaN
344607,Cargill,642205510276,"Turkey Breast, Natural Flavoring",112.0,g,4 oz.,NaN,GDSN,2016-08-05,2016-06-07,United States,NaN
344608,Cargill,642205534500,"Turkey, natural Flavoring.",112.0,g,4 oz.,NaN,GDSN,2016-08-05,2016-06-08,United States,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
810268,Seneca Foods Corporation,48700049554,"GREEN BEANS, WATER, SALT",120.0,g,1/2 cup,Vegetables Prepared/Processed,GDSN,2020-03-23,2020-03-24,United States,NaN
810270,Seneca Foods Corporation,48700075126,"WAX BEANS, WATER, SALT",120.0,g,1/2 Cup,Vegetables Prepared/Processed,GDSN,2020-03-23,2020-03-25,United States,NaN
810272,CAMPBELL SOUP COMPANY,51000006837,"INGREDIENTS: CHICKEN STOCK, WATER, POTATOES, C...",240.0,ml,PER SERVING,Prepared Soups,GDSN,2020-03-26,2020-03-26,United States,NaN
810274,Seneca Foods Corporation,48700183463,"PEAS, WATER, SUGAR, SALT",125.0,g,1/2 cup,Vegetables Prepared/Processed,GDSN,2020-03-23,2020-03-24,United States,NaN
810276,CAMPBELL SOUP COMPANY,51000015983,"INGREDIENTS: TOMATO PUREE (WATER, TOMATO PASTE...",120.0,ml,Amount per serving,Sauces/Spreads/Dips/Condiments,GDSN,2020-03-28,2020-03-28,United States,NaN

In [53]:
food_df_merge = food_df.merge(branded_food_df["branded_food_category"],left_index=True,right_index=True,how="left")
food_df_merge.to_csv(DNAME+"food_merge.csv")

In [7]:
food_df_merge

,data_type,description,food_category_id,publication_date,branded_food_category
fdc_id,,,,,
344604,branded_food,Tutturosso Green 14.5oz. NSA Italian Diced Tom...,NaN,2019-04-01,NaN
344605,branded_food,Tutturosso Green 14.5oz. Italian Diced Tomatoes,NaN,2019-04-01,NaN
344606,branded_food,Honeysuckle White Fresh 97% Ground White Turkey,NaN,2019-04-01,NaN
344607,branded_food,Honeysuckle White 97% Ground White Turkey,NaN,2019-04-01,NaN
344608,branded_food,Honeysuckle Whtie 85% Ground Turkey,NaN,2019-04-01,NaN
...,...,...,...,...,...
334717,sub_sample_food,"Sugars, Pupusas, Bean, flat stuffed corn biscu...",25.0,2019-04-01,NaN
334718,sub_sample_food,"Thiamin, Pupusas, Bean, flat stuffed corn bisc...",25.0,2019-04-01,NaN
334719,sub_sample_food,"Vitamin K, Pupusas, Bean, flat stuffed corn bi...",25.0,2019-04-01,NaN
334720,foundation_food,"Restaurant, Latino, pupusas con frijoles (pupu...",25.0,2019-04-01,NaN
746774,foundation_food,"Restaurant, Chinese, sweet and sour pork",25.0,2019-12-16,NaN

In [8]:
food_category_df= pd.read_csv(DNAME+"food_category.csv")
#ve_codes = [200,800,900,1100,1200,1600,2000]
food_category_df

    id  code                          description
0    1   100               Dairy and Egg Products
1    2   200                     Spices and Herbs
2    3   300                           Baby Foods
3    4   400                        Fats and Oils
4    5   500                     Poultry Products
5    6   600           Soups, Sauces, and Gravies
6    7   700          Sausages and Luncheon Meats
7    8   800                    Breakfast Cereals
8    9   900              Fruits and Fruit Juices
9   10  1000                        Pork Products
10  11  1100    Vegetables and Vegetable Products
11  12  1200                Nut and Seed Products
12  13  1300                        Beef Products
13  14  1400                            Beverages
14  15  1500       Finfish and Shellfish Products
15  16  1600          Legumes and Legume Products
16  17  1700        Lamb, Veal, and Game Products
17  18  1800                       Baked Products
18  19  1900                               Sweets
19  20  2000              Cereal Grains and Pasta
20  21  2100                           Fast Foods
21  22  2200      Meals, Entrees, and Side Dishes
22  23  2500                               Snacks
23  24  3500  American Indian/Alaska Native Foods
24  25  3600                     Restaurant Foods
25  26  4500       Branded Food Products Database
26  27  2600            Quality Control Materials
27  28  1410                  Alcoholic Beverages

In [9]:
vege_codes = [1,2,8,9,11,12,16,20]
meat_codes = [5,7,10,13,15,17]
vege_cats_brands = [
    "Cheese",
    "Ice Cream & Frozen Yogurt",
    "Cookies & Biscuits",
    "Breads & Buns",
    "Pickles, Olives, Peppers & Relishes",
    "Fruit & Vegetable Juice, Nectars & Fruit Drinks",
    "Cereal",
    "Chocolate",
    "Cakes, Cupcakes, Snack Cakes",
    "Soda",
    "Yogurt",
    "Ketchup, Mustard, BBQ & Cheese Sauce",
    "Pasta by Shape & Type",
    "Water",
    "Canned Vegetables",
    "Pre-Packaged Fruit & Vegetables",
    "Frozen Vegetables",
    "Milk",
    "Canned Fruit",
    "Powdered Drinks",
    'Nut & Seed Butters',
    "Energy, Protein & Muscle Recovery Drinks",
    "French Fries, Potatoes & Onion Rings"
]
meat_cats_brands = [
    "Pepperoni, Salami & Cold Cuts",
    "Sausages, Hotdogs & Brats",
    "Frozen Fish & Seafood",
    "Other Meats",
    "Bacon, Sausages & Ribs",
    "Chili & Stew",
    "Canned Tuna",
    "Fish & Seafood",
    "Meat/Poultry/Other Animals Prepared/Processed"
]

In [47]:
def meat_me(row):
    # returns 1 if meat 0 if vegetarian, and -1 if not sure or too small a category
    if row["branded_food_category"] in meat_cats_brands or row.loc["food_category_id"] in meat_codes:
        return 1
    elif row["branded_food_category"] in vege_cats_brands or row.loc["food_category_id"] in vege_codes:
        return 0
    return -1

In [49]:
#food_df_merge["is_meat"] = 
food_df_merge["is_meat"]=food_df_merge.apply(meat_me,axis=1)
food_df_merge = food_df_merge[food_df_merge["is_meat"]!=-1]
food_df_merge.shape

(171594, 6)

In [12]:
food_df_merge.to_csv(DNAME+"food_brand_merge.csv")
food_df_merge

,data_type,description,food_category_id,publication_date,branded_food_category,is_meat
fdc_id,,,,,,
356425,branded_food,MOCHI ICE CREAM BONBONS,NaN,2019-04-01,Ice Cream & Frozen Yogurt,0
356426,branded_food,CHIPOTLE BARBECUE SAUCE,NaN,2019-04-01,"Ketchup, Mustard, BBQ & Cheese Sauce",0
356427,branded_food,HOT & SPICY BARBECUE SAUCE,NaN,2019-04-01,"Ketchup, Mustard, BBQ & Cheese Sauce",0
356428,branded_food,BARBECUE SAUCE,NaN,2019-04-01,"Ketchup, Mustard, BBQ & Cheese Sauce",0
356429,branded_food,BARBECUE SAUCE,NaN,2019-04-01,"Ketchup, Mustard, BBQ & Cheese Sauce",0
...,...,...,...,...,...,...
790272,sub_sample_food,"FLOUR, CORN, YELLOW (FINE MEAL) (ENRICHED)",20.0,2020-04-01,NaN,0
790273,sub_sample_food,"Flour, corn, enriched",20.0,2020-04-01,NaN,0
790274,sub_sample_food,"FLOUR, CORN, YELLOW (FINE MEAL) (ENRICHED)",20.0,2020-04-01,NaN,0
790275,sub_sample_food,"Flour, corn, enriched",20.0,2020-04-01,NaN,0
790276,foundation_food,"Flour, corn, yellow, fine meal, enriched",20.0,2020-04-01,NaN,0

In [13]:
#food_df["food_category"]=food_df["food_category_id"].apply(lambda x: food_category_df[food_category_df["code"]==x])
#food_df["food_category"]

In [14]:
food_nutrient_df = pd.read_csv(DNAME+"food_nutrient.csv")

/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [15]:
food_nutrient_df

,id,fdc_id,nutrient_id,amount,data_points,derivation_id,min,max,median,footnote,min_year_acquired
0,3639112,344604,1089,0.000,NaN,75.0,NaN,NaN,NaN,NaN,NaN
1,3639113,344604,1110,0.000,NaN,75.0,NaN,NaN,NaN,NaN,NaN
2,3639114,344604,1253,0.000,NaN,75.0,NaN,NaN,NaN,NaN,NaN
3,3639115,344604,1258,0.000,NaN,75.0,NaN,NaN,NaN,NaN,NaN
4,6320396,344604,1003,0.810,NaN,71.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
6173455,8515451,746774,2023,0.004,NaN,4.0,NaN,NaN,NaN,NaN,NaN
6173456,8515452,746774,2024,0.003,NaN,4.0,NaN,NaN,NaN,NaN,NaN
6173457,8515453,746774,2025,0.002,NaN,4.0,NaN,NaN,NaN,NaN,NaN
6173458,8515454,746774,2026,0.013,NaN,4.0,NaN,NaN,NaN,NaN,NaN
6173459,8515455,746774,1085,13.300,NaN,4.0,NaN,NaN,NaN,NaN,NaN

In [16]:
nutrient_ids = food_nutrient_df["nutrient_id"].unique()

In [17]:
nutrient_amount_df =food_nutrient_df.pivot(index="fdc_id", columns='nutrient_id', values='amount')
nutrient_amount_df

nutrient_id,1002,1003,1004,1005,1007,1008,1009,1010,1011,1012,...,2021,2022,2023,2024,2025,2026,2028,2029,2032,2033
fdc_id,,,,,,,,,,,,,,,,,,,,,
167512,NaN,5.88,13.24,41.18,3.50,307.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
167513,NaN,4.34,11.27,53.42,3.08,330.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
167514,NaN,6.10,3.70,79.80,7.20,377.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
167515,NaN,8.00,1.80,46.00,1.60,232.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
167516,NaN,6.58,9.22,41.05,2.81,273.0,35.51,2.67,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
810268,NaN,0.83,0.00,2.50,NaN,12.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
810270,NaN,0.83,0.00,2.50,NaN,12.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
810272,NaN,2.08,0.42,5.42,NaN,33.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
810274,NaN,2.40,0.00,8.80,NaN,48.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
810276,NaN,1.67,1.25,10.00,NaN,58.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
food_nutr_merged = food_df_merge.merge(nutrient_amount_df,left_index=True,right_index=True,how="left")

In [19]:
food_nutr_merged

,data_type,description,food_category_id,publication_date,branded_food_category,is_meat,1002,1003,1004,1005,...,2021,2022,2023,2024,2025,2026,2028,2029,2032,2033
fdc_id,,,,,,,,,,,,,,,,,,,,,
356425,branded_food,MOCHI ICE CREAM BONBONS,NaN,2019-04-01,Ice Cream & Frozen Yogurt,0,NaN,2.5,6.25,35.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
356426,branded_food,CHIPOTLE BARBECUE SAUCE,NaN,2019-04-01,"Ketchup, Mustard, BBQ & Cheese Sauce",0,NaN,0.0,0.00,43.24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
356427,branded_food,HOT & SPICY BARBECUE SAUCE,NaN,2019-04-01,"Ketchup, Mustard, BBQ & Cheese Sauce",0,NaN,0.0,0.00,41.18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
356428,branded_food,BARBECUE SAUCE,NaN,2019-04-01,"Ketchup, Mustard, BBQ & Cheese Sauce",0,NaN,0.0,0.00,34.29,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
356429,branded_food,BARBECUE SAUCE,NaN,2019-04-01,"Ketchup, Mustard, BBQ & Cheese Sauce",0,NaN,0.0,0.00,45.95,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
790272,sub_sample_food,"FLOUR, CORN, YELLOW (FINE MEAL) (ENRICHED)",20.0,2020-04-01,NaN,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
790273,sub_sample_food,"Flour, corn, enriched",20.0,2020-04-01,NaN,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
790274,sub_sample_food,"FLOUR, CORN, YELLOW (FINE MEAL) (ENRICHED)",20.0,2020-04-01,NaN,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
790275,sub_sample_food,"Flour, corn, enriched",20.0,2020-04-01,NaN,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
790276,foundation_food,"Flour, corn, yellow, fine meal, enriched",20.0,2020-04-01,NaN,0,0.99,6.2,1.74,80.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
final_food_df = food_nutr_merged.drop(["branded_food_category","data_type","description","food_category_id","publication_date"],axis=1)
final_food_df=final_food_df.fillna(0)

In [21]:
final_food_df

,is_meat,1002,1003,1004,1005,1007,1008,1009,1010,1011,...,2021,2022,2023,2024,2025,2026,2028,2029,2032,2033
fdc_id,,,,,,,,,,,,,,,,,,,,,
356425,0,0.00,2.5,6.25,35.00,0.00,200.0,0.0,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
356426,0,0.00,0.0,0.00,43.24,0.00,162.0,0.0,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
356427,0,0.00,0.0,0.00,41.18,0.00,176.0,0.0,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
356428,0,0.00,0.0,0.00,34.29,0.00,143.0,0.0,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
356429,0,0.00,0.0,0.00,45.95,0.00,189.0,0.0,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
790272,0,0.00,0.0,0.00,0.00,0.00,0.0,0.0,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
790273,0,0.00,0.0,0.00,0.00,0.00,0.0,0.0,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
790274,0,0.00,0.0,0.00,0.00,0.00,0.0,0.0,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
790275,0,0.00,0.0,0.00,0.00,0.00,0.0,0.0,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
790276,0,0.99,6.2,1.74,80.80,0.46,364.0,0.0,0.67,0.24,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [22]:
nutrient_names = pd.read_csv(DNAME+"nutrient.csv").set_index("id")
nutrient_names

                                    name unit_name  nutrient_nbr     rank
id
1002                            Nitrogen         G         202.0    500.0
1003                             Protein         G         203.0    600.0
1004                   Total lipid (fat)         G         204.0    800.0
1005         Carbohydrate, by difference         G         205.0   1110.0
1007                                 Ash         G         207.0   1000.0
...                                  ...       ...           ...      ...
2026                              20:2 c         G         840.0  14250.0
2028                 trans-beta-Carotene        UG         321.2   7444.0
2029                      trans-Lycopene        UG         337.2   7534.0
2032                Cryptoxanthin, alpha        UG         335.0   7461.0
2033  Total dietary fiber (AOAC 2011.25)         G         293.0   1300.0

[235 rows x 4 columns]

In [23]:
nutrient_names["unit_name"].unique()

array(['G', 'KCAL', 'SP_GR', 'MG', 'kJ', 'UG', 'IU', 'MG_ATE'],
      dtype=object)

In [24]:
display(nutrient_names[nutrient_names["name"]=="Energy"])

        name unit_name  nutrient_nbr   rank
id
1008  Energy      KCAL         208.0  300.0
1062  Energy        kJ         268.0  400.0

In [25]:
display(final_food_df[[1008,1062]].corr())
#final_food_df.columns[]

          1008      1062
1008  1.000000  0.053435
1062  0.053435  1.000000

In [26]:
# are some energies saved as kJ and some as kcal or
# does one of them have both?
energy_cols = final_food_df[[1008,1062]]
energy_cols.columns = ["KCAL","kJ"]
display(energy_cols[energy_cols["KCAL"]!=0].shape)
display(energy_cols[energy_cols["kJ"]!=0].shape)
display(energy_cols[(energy_cols["kJ"]!=0)&(energy_cols["kJ"]!=0)].shape)
display(energy_cols[(energy_cols["kJ"]!=0)&(energy_cols["kJ"]!=0)].corr())

(146701, 2)

(5005, 2)

(5005, 2)

          KCAL        kJ
KCAL  1.000000  0.998594
kJ    0.998594  1.000000

In [27]:
# ok looks like kJ is less used but not mutually exclusive with KCAL
# Could leave it in in case there's some correlation with being from
# foreign parts - or even better make a "labeled with kJ" boolean,
# but only seems useful if we're trying to predict based on data we 
# have - less useful if collecting a random sample... Just depends on
# the use case

In [28]:
final_food_df = final_food_df.drop(1062,axis=1)
nutrient_names=nutrient_names.drop(1062)

In [29]:
final_food_df=final_food_df.rename(nutrient_names["name"],axis=1)
final_food_df

,is_meat,Nitrogen,Protein,Total lipid (fat),"Carbohydrate, by difference",Ash,Energy,Starch,Sucrose,Glucose (dextrose),...,22:3,20:4 c,20:5 c,22:5 c,22:6 c,20:2 c,trans-beta-Carotene,trans-Lycopene,"Cryptoxanthin, alpha",Total dietary fiber (AOAC 2011.25)
fdc_id,,,,,,,,,,,,,,,,,,,,,
356425,0,0.00,2.5,6.25,35.00,0.00,200.0,0.0,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
356426,0,0.00,0.0,0.00,43.24,0.00,162.0,0.0,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
356427,0,0.00,0.0,0.00,41.18,0.00,176.0,0.0,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
356428,0,0.00,0.0,0.00,34.29,0.00,143.0,0.0,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
356429,0,0.00,0.0,0.00,45.95,0.00,189.0,0.0,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
790272,0,0.00,0.0,0.00,0.00,0.00,0.0,0.0,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
790273,0,0.00,0.0,0.00,0.00,0.00,0.0,0.0,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
790274,0,0.00,0.0,0.00,0.00,0.00,0.0,0.0,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
790275,0,0.00,0.0,0.00,0.00,0.00,0.0,0.0,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
790276,0,0.99,6.2,1.74,80.80,0.46,364.0,0.0,0.67,0.24,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [30]:
# we should remove foods that have more than 100 grams
# of a nutrient per 100grams of that food (it's ok to remove from
# test set here as well bc its data that is strictly impossible)
# some samples are measured in other units than grams so lets
# look at just gram features to start with
gram_nutrients = nutrient_names[nutrient_names["unit_name"]=="G"]["name"]
final_food_df[gram_nutrients].max()

Nitrogen                                13.200
Protein                                760.000
Total lipid (fat)                     1300.000
Carbohydrate, by difference           6160.000
Ash                                     99.800
                                        ...
20:5 c                                   0.049
22:5 c                                   0.039
22:6 c                                   0.197
20:2 c                                   0.217
Total dietary fiber (AOAC 2011.25)       6.320
Length: 135, dtype: float64

In [31]:
# yea looks like we have some erroneous data... so I'll drop
# a row if it has more than 100g
less_100g = final_food_df[gram_nutrients].apply(lambda x: max(x)<=100,axis=1)

In [32]:
# lets look at which ones are >100g
less_100g[less_100g==False]

fdc_id
773000    False
773736    False
774144    False
774298    False
776268    False
776284    False
776394    False
776418    False
776760    False
776872    False
776876    False
777172    False
777216    False
777218    False
777606    False
778104    False
778148    False
778248    False
778284    False
778596    False
778876    False
778906    False
778908    False
779366    False
780220    False
780520    False
780892    False
780964    False
796187    False
796541    False
796985    False
796987    False
797377    False
797425    False
797453    False
798049    False
798735    False
799017    False
799241    False
802611    False
803129    False
803145    False
803445    False
803457    False
803737    False
803739    False
803897    False
805619    False
805629    False
805725    False
805729    False
805731    False
807427    False
808251    False
808653    False
dtype: bool

In [33]:
display(final_food_df[gram_nutrients].loc[773000].max())
display(food_df.loc[773736])
display(food_df.loc[808653])

145.0

data_type                   branded_food
description         COFFEE BREAK COOKIES
food_category_id                     NaN
publication_date              2020-02-27
Name: 773736, dtype: object

data_type              branded_food
description         100% LIME JUICE
food_category_id                NaN
publication_date         2020-04-01
Name: 808653, dtype: object

In [34]:
# my suspicion is that most of the errors come from using milligrams instead of
# grams - i dont think just dividing them by 1k is actually safe though so just
# going to drop them.
# using if to stop it from breaking second time through
if len(food_df_merge)==len(final_food_df):
    print("dropping outliers")
    final_food_df=final_food_df[less_100g]
    target = final_food_df["is_meat"]
    final_food_df = final_food_df.drop("is_meat",axis=1)

dropping outliers

In [35]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(final_food_df, target, test_size=0.2, random_state=5)

In [36]:
x_train.to_csv(DNAME+"x_train.csv")
x_test.to_csv(DNAME+"x_test.csv")
y_train.to_csv(DNAME+"y_train_meat_target.csv")
test=pd.concat([y_test,x_test],axis=1)
test.to_csv(DNAME+"test_meat_target.csv")
y_test.to_csv(DNAME+"y_test_meat_target.csv")

In [37]:
display(x_train.shape)
display(x_test.shape)
display(y_train.shape)
display(y_test.shape)

(137231, 234)

(34308, 234)

(137231,)

(34308,)